:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  --white: white;
  --coral: #F55A5A;
  --gray: #918E9B;
  --light-gray: #F5F5F5;
}

.navigation {
  font-weight: 500;
  letter-spacing: -0.075em;
  color: var(--white);
  background-color: var(--coral);
  display: flex;
  justify-content: center;
  padding: 1em;
}

.navigation > img {
  width: 1.5em;
  margin-right: 7px;
}

main {
  padding: 40px;
}

.card {
  font-size: 0.65rem;
  max-width: 45em;
  display: flex;
  align-items: center;
  margin: auto;
  padding-block: 18px;
  border-bottom: 1px solid var(--light-gray);
}

.card:last-of-type {
  border: none;
}

.card > img {
  border-radius: 5px;
  width: 125px;
  height: 168px;
  object-fit: cover; /* resize image to fill space keeping aspect ratio */
}

.card--info {
  padding: 0 19px;
}

.card--location {
  display: flex;
}

.card--location > img {
  width: 0.8rem;
  margin-right: 2px;
  margin-bottom: 0.2em;
}

.card--link {
  color: var(--gray);
}

.card--country {
  text-transform: uppercase;
  letter-spacing: 0.17em;
  margin-right: 12px;
}

.card--title {
  font-size: 1.6rem;
  margin-bottom: 9px;
}

.card--date {
  font-weight: 700;
  margin-bottom: 6px;
}

.card--description {
  line-height: 150%;
}