/* Base */
:root {
  --card-color: #1A1B21;
  --card-footer-color: #161619;
  --highlight-color: #F3BF99;
  --bg-color: #23252C;
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typography */
h1 {
  font-size: 1.8rem;
  line-height: 0.9em;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 0.8rem;
  line-height: 150%;
}

.title {
  font-size: 0.9rem;
  color: var(--highlight-color);
}

.website {
  color: white;
  text-decoration: none;
  line-height: 250%;
}

/* Layout */
.card {
  border-radius: 10px;
  overflow: hidden;
  max-width: 20rem;
  background-color: var(--card-color);
}

.card-text {
  padding: 1.6rem;
}

main.card-text {
  padding-top: 0;
}

main > section {
  padding-bottom: 0.8rem;
}

.email {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin-block: 0.6rem;
  padding: 0.4em;
}

/* -- Header */
header {
  text-align: center;
}

/* -- Footer */
footer {
  background-color: var(--card-footer-color);
  padding: 0.8rem;
}